@media only screen and (max-width: 580px) {
    body{
        .window{
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            .left-side{   
                padding: 20px;
                font-size: 1.5em;
                .buttons{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    button, input{
                        height: 60px;
                    }
                }
            }   
            .right-side{
                margin: 20px;
                padding: 30px;
                grid-template-rows: repeat(3, 1fr);
                .results{
                    .captions{
                        font-size: 1.6em;
                    }
                    .smaller-captions{
                        font-size: 1em;
                    }
                    .total-text, .tip-text{
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}